/*
.headerbar{
    background-color: #76323f;
}
*/

.heading{
    font-size: 25px;
    padding: 10% 0 0;
    color: #76323f;
}

.skillheading{
    font-size: 20px;
    padding: 3% 20% 0;
    margin: 0px;
}

.prg{
    padding: 0 20%;
}

.prg p{
    padding-top: 20px;
}

.progress .progress-bar{
    background-color: #c09f80;
}

.info{
    color: black;
    padding: 0 20%;
}

.contactbanner{
/*    background-color: #510a32;*/
    padding-bottom: 20px;
}
