.headerbar{
    background-color: #801836;
}

.heading{
    font-size: 25px;
    padding: 10% 0 0;
}

.skillheading{
    font-size: 20px;
    padding: 3% 20% 0;
    margin: 0px;
}

.prg{
    padding: 0 20%;
}

.prg p{
    padding-top: 20px;
}

.info{
    color: black;
    padding: 0 20%;
}

.contactbanner{
    background-color: #510a32;
    padding: 60px;
}

.outline-btn{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.outline-btn:hover{
    border-color: #e03c40;
    background-color: #e03c40;
}