.headerbar{
    background-color: #2d142c;
}

.upperthing{
    margin-bottom: 100px;
}

.block h4{
    margin-bottom: 25px;
}

.block{
    background-color: #510a32;
    min-height: 200px;
    max-height: 300px;
    padding: 60px 10% 10%;
    margin-bottom: 70px;
    box-shadow:0px -20px #801836 inset;
}

hr{
    width: 150px; 
    background-color: white; 
    height: 3px;
}