.headerbar{
    background-color: #170816;
}

.upperthing{
    margin-bottom: 10%;
}

.block{
    background-color: #801836;
    max-height: 30%;
    padding: 10%;
    margin-bottom: 10%;
}

hr{
    width: 40%; 
    background-color: white; 
    height: 1px;
}

footer {
    margin-top: 2%;
}