.headerbar{
    background-color: #170816;
}

.heading{
    font-size: 25px;
    padding: 10% 0 0;
}

.outline-btn{
    padding: 1% 3%;
    font-size: 18px;
    color: #c72c41;
    border: 2px solid #c72c41;
    border-radius: 5px;
    text-align: center;
}

.outline-btn:hover{
    color: white;
    background-color: #c72c41;
}

footer {
    margin-top: 2%;
}