.headerbar{
    background-color: #510a32;
}

div.block h1{
    color: white;
    font-weight: bolder;
    line-height: 14em;
}

div.block.films{
    background-color: darkslategray;
    background-image: url(/img_illus/man.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.two{
    background-color: goldenrod;
    background-image: url(/img_illus/dragon.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.four{
    background-color: skyblue;
    background-image: url(/img_illus/oldManBling.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.four:hover{
    background-image: url(/img_illus/oldManBlingJJ.png);
}