@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Open Sans', sans-serif;
}

div a, div a:hover, div a:checked{
    color: white;
    text-decoration: none;
}

.headerbar{
    text-align: center;
    color: white;
}

.headerbar h1{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 80px;
    padding-bottom: 10px;
}

.headerbar h3{
    font-size: 25px;
    font-weight: 250;
    padding-bottom: 4%;
}

.headerbar{
    margin-bottom: 5%;
}

div.block{
    border-style: solid;
    border-width: 10px;
    border-color: white;
    height: 55%;
    min-width: 20%;
    padding: 12%;
    text-align: center;
}

div.block.one{
    background-color: darkorange;
}

div.block.two{
    background-color: cornflowerblue;
    padding-top: 20%;
}

div.block.three{
    background-image: url(/img_gad/drawings01.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

div.block.four{
    background-color: darkslategray;
}

div.block.five{
    background-color: goldenrod;
}

div.block.six{
    background-color: mediumseagreen;
}

div.block.seven{
    background-color: aliceblue;
}

div.block.eight{
    background-color: mediumslateblue;
}
