.headerbar{
    background-color: #c72c41;
}

a h4{
    padding-top: 110px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.block{
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
    background-color: #414141;
}

.block:hover{
    color: white;
    background-blend-mode: multiply;

}

.block.daft{
    background-image: url(/img_gd/DAFTposter.jpg);
    background-size: cover;
}