.headerbar{
    background-color: #801836;
}

a h4{
    padding-top: 200px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.block.one{
    background-color: darkslategray;
    background-image: url(/img_illus/man.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
}

.block.one:hover{
    color: white;
    background-blend-mode: multiply;
}

.block.three{
    background-color: gray;
    background-image: url(/img_illus/drawings01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);

}

.block.three:hover{
    color: white;
    background-blend-mode: multiply;
}

.block.five{
    background-color: slategrey;
    background-image: url(/img_illus/chest.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);

}

.block.five:hover{
    background-image: url(/img_illus/chestOp.png);
    color: white;
    background-blend-mode: multiply;
}

.block.eight{
    background-color: dimgray;
    background-image: url(/img_illus/trailers.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
}

.block.eight:hover{
    color: white;
    background-blend-mode: multiply;
}