.headerbar{
    background-color: #801836;
}

a h4{
    padding-top: 150px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.block.one{
    background-color: darkslategray;
    background-image: url(/img_illus/man.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
}

.block.one:hover{
    color: white;
    background-blend-mode: multiply;
}

.block.two{
    background-color: goldenrod;
    background-image: url(/img_illus/dragon.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.three{
    background-color: gray;
    background-image: url(/img_illus/drawings01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);

}

.block.three:hover{
    color: white;
    background-blend-mode: multiply;
}

.block.four{
    background-color: lightgoldenrodyellow;
    background-image: url(/img_illus/oldManBling.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.four:hover{
    background-image: url(/img_illus/oldManBlingJJ.png);
}

.block.five{
    background-color: slategrey;
    background-image: url(/img_illus/chest.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);

}

.block.five:hover{
    background-image: url(/img_illus/chestOp.png);
    color: white;
    background-blend-mode: multiply;
}

.block.six{
    background-color: aliceblue;
    background-image: url(/img_illus/star.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.six:hover{
    background-image: url(/img_illus/starJJ.png);
}


.block.seven{
    background-color: lightgray;
    background-image: url(/img_illus/ninja);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.seven:hover{
    background-image: url(/img_illus/ninjaJJ.png);
}

.block.eight{
    background-color: gainsboro;
    background-image: url(/img_illus/trailers.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
}

.block.eight:hover{
    color: white;
    background-blend-mode: multiply;
}