.headerbar{
    background-color: #801836;
}

div.block.one{
    background-color: darkslategray;
    background-image: url(/img_illus/man.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.two{
    background-color: goldenrod;
    background-image: url(/img_illus/dragon.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.three{
    background-image: url(/img_illus/drawings01.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

div.block.four{
    background-color: lightgoldenrodyellow;
    background-image: url(/img_illus/oldManBling.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.four:hover{
    background-image: url(/img_illus/oldManBlingJJ.png);
}

div.block.five{
    background-color: #b6dcae;
    background-image: url(/img_illus/chest.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.five:hover{
    background-image: url(/img_illus/chestOp.png);
}

div.block.six{
    background-color: aliceblue;
    background-image: url(/img_illus/star.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.six:hover{
    background-image: url(/img_illus/starJJ.png);
}


div.block.seven{
    background-color: lightgray;
    background-image: url(/img_illus/ninja);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div.block.seven:hover{
    background-image: url(/img_illus/ninjaJJ.png);
}

div.block.eight{
/*    background-color: mediumslateblue;*/
    background-image: url(/img_illus/trailers.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}