.headerbar{
    background-color: #510a32;
}

.block{
    background-color: lightgray;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-width: 10px;
    height: 500px;
}

.block:hover{
    background-blend-mode: multiply;
}

.block h1{
    color: white;
    font-weight: bolder;
    line-height: 12em;
}

.block.people{
    background-image: url(/img_photo/peopleFinal);
}

.block.product{
    background-image: url(/img_photo/productMidterm.jpg);
    background-position: center center;

}

.block.place{
    background-image: url(/img_photo/places.jpg); 
}