.headerbar{
    background-color: #510a32;
}

div.block h1{
    color: white;
    font-weight: bolder;
    line-height: 12em;
}

div.block.people{
    background-image: url(/img_photo/peopleFinal);
    background-size: cover;
    background-position: bottomcenter;
    background-repeat: no-repeat;
}

div.block.product{
    background-image: url(/img_photo/productMidterm.jpg);
    background-size: cover;
    background-position: bottomcenter;
    background-repeat: no-repeat;
}

div.block.place{
    background-color: goldenrod;
    background-image: url(/img_illus/drawings01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}