@import url(http://fonts.googleapis.com/css?family=Open+Sans);

::-webkit-scrollbar { 
    display: none; 
}

body{
    font-family: 'Open Sans', sans-serif;
}

p{
    color: #565656;
}

div a, div a:hover, div a:checked{
    color: white;
    text-decoration: none;
}

.headerbar{
    padding-top: 10%;
    background-image: url(/2xRed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20%;
}

.row.menu{
    margin-bottom: 45px;
	background-color: #e8e1dc;
}

.menu a{
    text-align: center;
    color: #565656;
    padding: 10px 2%;
}

.menu a:hover{
    color: #c09f80;
}

a.not-active {
    pointer-events: none;
    cursor: default;
    background-color: #76323f;
    color: #e8e1dc;
}

div.container{
    padding: 0 11%;
}

.block{
    border-style: solid;
    border-width: 25px;
    border-color: white;
    height: 270px;
    min-width: 20%;
    text-align: center;
}

.block.long{
    height: 540px;
}

.block.aboutthegame{
    color: #565656;
    text-align: left;
    height: auto;
    padding: 0px;
}

.outline-btn{
    padding: 10px 20px;
    font-size: 18px;
    color: #565656;
    border: 2px solid #565656;
}

.outline-btn:hover{
    border-color: #76323f;
    background-color: #76323f;
}

footer {
    margin-top: 3%;
	background-color:#fafafa;
	padding: 40px 0 30px;
    display: block;
    color: #808080;
}

footer a {
	color:#c09f80;
}

footer a:hover {
	color: #76323f;
}