/*
.headerbar{
    background-color: #510a32;
}
*/

.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.long.game{
    background-color: cadetblue;
}