.headerbar{
    background-color: #510a32;
}

a h4{
    padding-top: 100px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.block{
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
    background-color: #414141;
}

.block:hover{
    color: white;
    background-blend-mode: multiply;
}

.block.kingdom{
    background-color: darkslategray;
    background-image: url(/work/img_work/man.png);
    background-size: contain;
}

.block.pillars{
    background-color: gray;
    background-image: url(/work/img_work/drawings01.jpg);
    background-size: cover;
}

.block.pixel{
    background-color: slategrey;
    background-image: url(/work/img_work/img_stavesofsteel/chest.png);
    background-size: contain;
}

.block.pixel:hover{
    background-image: url(/work/img_work/img_stavesofsteel/chestOp.png);
}

.block.trailers{
    background-color: dimgray;
    background-image: url(/work/img_work/trailers.png);
    background-size: cover;
}

.block.angie{
    background-color: goldenrod;
    background-image: url(/work/img_work/img_arabiangypsy/angieHeadFront.png);
    background-size: contain;
}

.block.daft{
    background-image: url(/work/img_work/DAFTposter.jpg);
    background-size: cover;
}

.block.aida{
    background-image: url(/work/img_work/Poster%20A1.jpg);
    background-size: cover;
}