/*
.headerbar{
    background-color: #510a32;
}
*/

a h4{
    font-size: 16pt;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a i{
    font-size: 10pt;
}


.block{
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
    background-color: #414141;
}

.block:hover{
    color: white;
    background-blend-mode: multiply;
}

.block.aida{
    background-image: url(/work/img_work/img_operaaida/posterA1.jpg);
    background-size: 101%;
}

.block.pixel{
    background-color: slategrey;
    background-image: url(/work/img_work/img_stavesofsteel/chest.png);
    background-size: contain;
}

.block.pixel:hover{
    background-color: #414141;
    background-image: url(/work/img_work/img_stavesofsteel/chestOp.png);
}

.block.poweroften{
    background-color: dimgray;
    background-image: url(/work/img_work/img_poweroften/01.jpg);
    background-size: cover;
}

.block.watch{
    background-color: dimgray;
    background-image: url(/work/img_work/img_watch/thumbnail.jpg);
    background-size: cover;
}

.block.pillars{
    background-color: gray;
    background-image: url(/work/img_work/img_pillars/pillarsFinal.jpg);
    background-size: cover;
}

.block.angie{
    background-color: goldenrod;
    background-image: url(/work/img_work/img_arabiangypsy/angieHeadFront.png);
    background-size: contain;
}

.block.angie:hover{
    background-color: darkgoldenrod;
}

.block.specimen{
    background-color: maroon;
    background-image: url(/work/img_work/img_specimen/cover.png);
    background-size: cover;
}

.block.businesscard{
    background-image: url(/work/img_work/img_businesscard/businessCard.jpg);
    background-size: cover;
}

/*
.block.jewels{
    background-color: brown;
    background-image: url(/work/img_work/img_crownjewels/man.png);
    background-size: contain;
}

.block.jewels:hover{
    background-color: maroon;
}
*/

.block.womenofcairo{
    background-image: url(/work/img_work/img_womenofcairo/9_Farida%20Kamel.jpg);
    background-size: cover;
}

.block.beldazaricons{
    background-image: url(/work/img_work/img_beldazaricons/Store.png);
    background-color: whitesmoke;
    background-size: contain;
}

.block.beldazaricons:hover{
    background-color: #414141;
}

.block.globalwarming{
    background-image: url(/work/img_work/img_globalwarming/globalWarmingThumbnail.jpg);
    background-position: top;
    background-size: cover;
}

.block.patterns{
    background-image: url(/work/img_work/img_patterns/05.jpg);
    background-size: cover;
}

.block.daft{
    background-image: url(/work/img_work/DAFTposter.jpg);
    background-size: cover;
}