@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Open Sans', sans-serif;
}

div a, div a:hover, div a:checked{
    color: white;
    text-decoration: none;
}



.name h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;

}

.name h3{
    color: white;
    font-size: 25px;
    font-weight: 250;
    padding-bottom: 80px;
    text-align: center;

}

.heading{
    font-size: 25px;
    padding-bottom: 20px;
}

.skillheading{
    font-size: 20px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left: 80px;
}

.prg{
    padding-left: 7%;
    padding-right: 10%;
    padding-bottom: 5%;
}

/*
.prg div.col-lg-4, .prg div col-sm-4{
    padding: 1.7%;
}
*/

.info{
    color: black;
    padding: 70px;
}


