@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Open Sans', sans-serif;
}

.name h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;

}

.name h3{
    color: white;
    font-size: 25px;
    font-weight: 250;
    padding-bottom: 80px;
    text-align: center;

}

.about{
    color: black;
    padding: 20%;
    padding-top: 70px;
}

.heading{
    font-size: 25px;
    padding-bottom: 20px;
}


