/*
.headerbar{
    background-color: #510a32;
}
*/

.block{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.full{
    background-image: url(/work/img_work/img_arabiangypsy/angieFull.png);
    background-color:gainsboro;
    height: 45vw;
    background-size: cover;
}

.block.fullfront{
    background-image: url(/work/img_work/img_arabiangypsy/angieFullFront.png);
    background-color:gainsboro;
    height: 85vw;
    background-size: cover;
}

.block.front{
    background-image: url(/work/img_work/img_arabiangypsy/angieHeadFront.png);
    background-color:gainsboro;
}

.block.side{
    background-image: url(/work/img_work/img_arabiangypsy/angieHeadSide.png);
    background-color:gainsboro;
}

.block.texture{
    background-size: cover;
    height: 200px;
}

.block.texture.one{
    background-image: url(/work/img_work/img_arabiangypsy/hairtexture.png);
}

.block.texture.two{
    background-image: url(/work/img_work/img_arabiangypsy/leopardPants.png);
}

.block.texture.three{
    background-image: url(/work/img_work/img_arabiangypsy/goldnosering.jpg);
}

.block.texture.four{
    background-image: url(/work/img_work/img_arabiangypsy/purplesatin.jpg);
}