.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
}

.image.vert{
    height: 1200px;
}

.image.one{
    background-image: url(/work/img_work/img_cairowomen/1_Farida%20Kamel.jpg);
}

.image.two{
    background-image: url(/work/img_work/img_cairowomen/2_Farida%20Kamel.jpg);
}

.image.three{
    background-image: url(/work/img_work/img_cairowomen/3_Farida%20Kamel.jpg);
}

.image.four{
    background-image: url(/work/img_work/img_cairowomen/4_Farida%20Kamel.jpg);
}

.image.five{
    background-image: url(/work/img_work/img_cairowomen/5_Farida%20Kamel.jpg);
}

.image.six{
    background-image: url(/work/img_work/img_cairowomen/6_Farida%20Kamel.jpg);
}

.image.seven{
    background-image: url(/work/img_work/img_cairowomen/7_Farida%20Kamel.jpg);
}

.image.eight{
    background-image: url(/work/img_work/img_cairowomen/8_Farida%20Kamel.jpg);
}

.image.nine{
    background-image: url(/work/img_work/img_cairowomen/9_Farida%20Kamel.jpg);
}

.image.ten{
    background-image: url(/work/img_work/img_cairowomen/10_Farida%20Kamel.jpg);
}

.image.eleven{
    background-image: url(/work/img_work/img_cairowomen/11_Farida%20Kamel.jpg);
}

.image.twelve{
    background-image: url(/work/img_work/img_cairowomen/12_Farida%20Kamel.jpg);
}