.block{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.sprite{
    background-color: gainsboro;
}

.sprite.agent{
    background-image: url(/work/img_work/img_stavesofsteel/secretAgent.png);
}

.sprite.agent:hover{
    background-image: url(/work/img_work/img_stavesofsteel/secretAgentJJ.png);
}

.sprite.old{
    background-image: url(/work/img_work/img_stavesofsteel/oldManBling.png);
}

.sprite.old:hover{
    background-image: url(/work/img_work/img_stavesofsteel/oldManBlingJJ.png);
}

.sprite.hunter{
    background-image: url(/work/img_work/img_stavesofsteel/hunter.png);
}

.sprite.hunter:hover{
    background-image: url(/work/img_work/img_stavesofsteel/hunterJJ.png);
}

.sprite.tarzan{
    background-image: url(/work/img_work/img_stavesofsteel/tarzanesque.png);
}

.sprite.tarzan:hover{
    background-image: url(/work/img_work/img_stavesofsteel/tarzanesqueJJ.png);
}

.sprite.ninja{
    background-image: url(/work/img_work/img_stavesofsteel/ninja.png);
}

.sprite.ninja:hover{
    background-image: url(/work/img_work/img_stavesofsteel/ninjaJJ.png);
}

.sprite.chest{
    background-image: url(/work/img_work/img_stavesofsteel/stoneWall.png);
    background-size: 200px;
    background-position: left;
    background-repeat:repeat;
    overflow: hidden;
}

.sprite.dagger{
    background-image: url(/work/img_work/img_stavesofsteel/dagger.png);
}

.sprite.star{
    background-image: url(/work/img_work/img_stavesofsteel/star.png);
}

.sprite.orb{
    background-image: url(/work/img_work/img_stavesofsteel/orb.png);
}

.sprite.javelin{
    background-image: url(/work/img_work/img_stavesofsteel/javelin.png);
}