.block{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.sprite{
    background-color: gainsboro;
}

.sprite.long{
    height: 600px;
}

.sprite.king{
    background-image: url(/work/img_work/img_crownjewels/man.png);
}

.sprite.knight{
    background-image: url(/work/img_work/img_crownjewels/man.png);
}

.sprite.queen{
    background-image: url(/work/img_work/img_crownjewels/man.png);
}

.sprite.dragon{
    background-image: url(/work/img_work/img_crownjewels/dragon.png);
}

.sprite.castle{
    background-image: url(/work/img_work/img_crownjewels/castle.png);
}