/*
.headerbar{
    background-color: #510a32;
}
*/

.block{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 340px;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.poster{
    background-image: url(/work/img_work/img_globalwarming/globalWarming.jpg);
}

.mockup{
    background-image: url(/work/img_work/img_globalwarming/globalWarmingMockup.jpg);
    background-size: cover;

}