/*
.headerbar{
    background-color: #510a32;
}
*/

.block{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.wallposter{
    background-color: floralwhite;
    background-image: url(/work/img_work/img_operaaida/bookCover.png);
}