.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.one{
    background-image: url(/work/img_work/img_patterns/01.jpg);
}

.two{
    background-image: url(/work/img_work/img_patterns/02.jpg);
}

.three{
    background-image: url(/work/img_work/img_patterns/03.jpg);
}

.four{
    background-image: url(/work/img_work/img_patterns/04.jpg);
}

.five{
    background-image: url(/work/img_work/img_patterns/05.jpg);
}

.six{
    background-image: url(/work/img_work/img_patterns/06.jpg);
}

.seven{
    background-image: url(/work/img_work/img_patterns/07.jpg);
}

.eight{
    background-image: url(/work/img_work/img_patterns/08.jpg);
}

