.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.one{
    background-image: url(/work/img_work/img_patterns/01.png);
}

.two{
    background-image: url(/work/img_work/img_patterns/02.png);
}

.three{
    background-image: url(/work/img_work/img_patterns/03.png);
}

.four{
    background-image: url(/work/img_work/img_patterns/04.png);
}

.five{
    background-image: url(/work/img_work/img_patterns/05.png);
}

.six{
    background-image: url(/work/img_work/img_patterns/06.png);
}

.seven{
    background-image: url(/work/img_work/img_patterns/07.png);
}

.eight{
    background-image: url(/work/img_work/img_patterns/08.png);
}

