/*
.headerbar{
    background-color: #510a32;
}
*/

.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.final{
    background-image: url(/work/img_work/img_pillars/pillarsFinal.jpg);
    height: 600px;
}

.block.study{
    height: 200px;
}

.block.study.one{
    background-image: url(/work/img_work/img_pillars/study1.jpg);
}

.block.study.two{
    background-image: url(/work/img_work/img_pillars/study2.jpg);
}

.block.study.three{
    background-image: url(/work/img_work/img_pillars/study3.jpg);
}