.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
}

.image.cover{
    background-image: url(/work/img_work/img_specimen/cover.png);
}

.image.author{
    background-image: url(/work/img_work/img_specimen/author.png);
}

.image.sizes{
    background-image: url(/work/img_work/img_specimen/sizes.png);
}

.image.symbols{
    background-image: url(/work/img_work/img_specimen/symbols.png);
}

.image.date{
    background-image: url(/work/img_work/img_specimen/1961.png);
}

.image.commas{
    background-image: url(/work/img_work/img_specimen/commas.png);
}