.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.long{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.long.cover{
    background-image: url(/work/img_work/img_specimen/cover.png);
}

.long.author{
    background-image: url(/work/img_work/img_specimen/author.png);
}

.long.sizes{
    background-image: url(/work/img_work/img_specimen/sizes.png);
}

.long.symbols{
    background-image: url(/work/img_work/img_specimen/symbols.png);
}

.long.date{
    background-image: url(/work/img_work/img_specimen/1961.png);
}

.long.commas{
    background-image: url(/work/img_work/img_specimen/commas.png);
}