.block{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.long{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.long.watchold{
    background-image: url(/work/img_work/img_watch/watchOriginal.JPG);
}

.long.watchnew{
    background-image: url(/work/img_work/img_watch/watchEdited.jpg);
}

.long.modelold{
    background-image: url(/work/img_work/img_watch/saraOriginal.jpg);
}

.long.modelnew{
    background-image: url(/work/img_work/img_watch/saraEdited.jpg);
}

.long.finalspread{
    background-image: url(/work/img_work/img_watch/finalSpread.jpg);
    height: 600px;
}

.long.finalspreadmagazine{
    background-image: url(/work/img_work/img_watch/finalSpreadMagazine.png);
}
