.headerbar{
    background-color: #801836;
}

.block{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.full{
    background-image: url(/illustrations/img_illus/angieFull.png);
    width: 100%;
    background-size: 850px;
    background-color:gainsboro;
}

.block.fullfront{
    background-image: url(/illustrations/img_illus/angieFullFront.png);
    height: 100%;
    background-color:gainsboro;
}

.block.front{
    background-image: url(/illustrations/img_illus/angieHeadFront.png);
    background-color:gainsboro;
}

.block.side{
    background-image: url(/illustrations/img_illus/angieHeadSide.png);
    background-color:gainsboro;
}

.block.texture{
    background-size: cover;
    height: 300px;
}

.block.texture.one{
    background-image: url(/illustrations/img_illus/hairtexture.png);
}

.block.texture.two{
    background-image: url(/illustrations/img_illus/leopardPants.png);
}

.block.texture.three{
    background-image: url(/illustrations/img_illus/goldnosering.jpg);
}

.block.texture.four{
    background-image: url(/illustrations/img_illus/purplesatin.jpg);
}

.outline-btn{
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: #801836;
    border: 2px solid #801836;
    border-radius: 5px;
}

.outline-btn.contact{
    padding: 10px 43px;
}

.outline-btn:hover{
    border-color: #801836;
    background-color: #801836;
}