.headerbar{
    background-color: #801836;
}

.block.group{
    background-color: darkgray;
    background-image: url();
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.old{
    background-color: lightsteelblue;
    background-image: url(/img_illus/oldManBling.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.old:hover{
    background-image: url(/img_illus/oldManBlingJJ.png);
}

.block.ninja{
    background-color: palegoldenrod;
    background-image: url(/img_illus/ninja);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.ninja:hover{
    background-image: url(/img_illus/ninjaJJ.png);
}

.block.chest{
    background-color: slategrey;
    background-image: url(/img_illus/chest.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.chest:hover{
    background-image: url(/img_illus/chestOp.png);
}

.block.star{
    background-color: aliceblue;
    background-image: url(/img_illus/star.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.star:hover{
    background-image: url(/img_illus/starJJ.png);
}

