.headerbar{
    background-color: #801836;
}

.block{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.old{
    background-color: lavender;
    background-image: url(/illustrations/img_illus/oldManBling.png);
}

.block.old:hover{
    background-image: url(/illustrations/img_illus/oldManBlingJJ.png);
}

.block.hunter{
    background-color: darkseagreen;
    background-image: url(/illustrations/img_illus/hunter.png);
}

.block.hunter:hover{
    background-image: url(/illustrations/img_illus/hunterJJ.png);
}

.block.tarzan{
    background-color: gainsboro;
    background-image: url(/illustrations/img_illus/tarzanesque.png);
}

.block.tarzan:hover{
    background-image: url(/illustrations/img_illus/tarzanesqueJJ.png);
}

.block.ninja{
    background-color: palegoldenrod;
    background-image: url(/illustrations/img_illus/ninja.png);
}

.block.ninja:hover{
    background-image: url(/illustrations/img_illus/ninjaJJ.png);
}

.block.chest{
    background-image: url(/illustrations/img_illus/stoneWall.png);
    background-size: 200px;
    background-position: left;
    background-repeat:repeat;
    overflow: hidden;
}

.block.dagger{
    background-color: darkseagreen;
    background-image: url(/illustrations/img_illus/dagger.png);
}

.block.star{
    background-color: palegoldenrod;
    background-image: url(/illustrations/img_illus/star.png);
}

.block.orb{
    background-color: lavender;
    background-image: url(/illustrations/img_illus/orb.png);
}

.block.javelin{
    background-color: gainsboro;
    background-image: url(/illustrations/img_illus/javelin.png);
}

.outline-btn{
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: #801836;
    border: 2px solid #801836;
    border-radius: 5px;
}

.outline-btn.contact{
    padding: 10px 43px;
}

.outline-btn:hover{
    border-color: #801836;
    background-color: #801836;
}