.headerbar{
    background-color: #801836;
}

.block h1{
    font-weight: bolder;
    text-align: center;
}

.block.old{
    background-color: lightsteelblue;
    background-image: url(/img_illus/oldManBling.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.old:hover{
    background-image: url(/img_illus/oldManBlingJJ.png);
}

.block.hunter{
    background-color: darkseagreen;
    background-image: url(/img_illus/hunter.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.hunter:hover{
    background-image: url(/img_illus/hunterJJ.png);
}

.block.agent{
    background-color: gainsboro;
    background-image: url(/img_illus/secretAgent.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.agent:hover{
    background-image: url(/img_illus/secretAgentJJ.png);
}

.block.ninja{
    background-color: palegoldenrod;
    background-image: url(/img_illus/ninja.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.ninja:hover{
    background-image: url(/img_illus/ninjaJJ.png);
}

.block.chest{
    background-image: url(/img_illus/stoneWall.png);
    background-size: 200px;
    background-position: left;
}

.block.star{
    background-color: aliceblue;
    background-image: url(/img_illus/star.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.block.star:hover{
    background-image: url(/img_illus/starJJ.png);
}

